@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-y: scroll !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}